@import "./base.css";

@font-face {
  font-family: "iconfont";
  /* Project id 3738177 */
  src: url('//at.alicdn.com/t/c/font_3738177_o7zaprqi2z7.woff2?t=1667116972111') format('woff2'),
    url('//at.alicdn.com/t/c/font_3738177_o7zaprqi2z7.woff?t=1667116972111') format('woff'),
    url('//at.alicdn.com/t/c/font_3738177_o7zaprqi2z7.ttf?t=1667116972111') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\e6e5";
}

.icon-liwuhuodong:before {
  content: "\e600";
}

.icon-qingdan:before {
  content: "\e615";
}

.icon-shujukanban:before {
  content: "\eb66";
}

.icon-huizhang:before {
  content: "\e623";
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
